body{
    font-family: 'Ubuntu', sans-serif;
}
.color1{
    background-color: #2c2c54;
}
.color2{
    background-color: #40407a;
}
.color3{
    background-color: #474787;
}
.color4{
    background-color: #706fd3;
}
thead{
    border-bottom: 2px solid;
}
.table > :not(:first-child){
    border-top: none;
}